sqlalchemy==1.4.17
sqlalchemy-utils==0.37.5
psycopg2_binary==2.8.6
databases[postgres]==0.4.1
asyncpg==0.23.0
alembic==1.6.5
python-multipart==0.0.5
bcrypt==3.2.0
passlib==1.7.4
pyjwt==2.1.0
aiofiles==0.7.0
fastapi==0.65.1
jinja2==3.0.1
uvicorn[standard]==0.13.4
gunicorn==20.1.0
pandas==1.2.4
