sqlalchemy==1.3.23
sqlalchemy-utils==0.36.8
psycopg2_binary==2.8.6
databases[postgres]==0.4.1
asyncpg==0.21.0
alembic
python-multipart
bcrypt
passlib
tortoise-orm
pyjwt
aiofiles
jinja2
fastapi
uvicorn[standard]
gunicorn
pandas
